
/*
HEX CODES I PLAN TO USE for right now: (might change later on)
#191265 - dark blue
#387780 teal green
#ede9e2 - beige
#E6D4e6 - pink
#ffffff - white
#000000 - black
*/

html, body {
    background-color: #E6D4e6; /* light pink */
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #191265; /* dark blue */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    height: 100%;
}

/* nav */
nav {
    list-style: none;
    padding: 0;
    text-align: center;
}

/* links */
nav a {
    text-decoration: none;
    color: #191265; /* dark blue */
    font-weight: bold;
}


a {
    color: #191265; /* dark blue */
    text-decoration: none;
}

a:hover {
    color: #387780; /* teal green */
    text-decoration: none;
    font-weight: bold;
}

/*paragraphs */
p {
    color: #191265; /* dark blue */
    margin: 30px 0;
    font-size: 20px;
}

/* heading */
h1 {
    color: #191265; /* dark blue */
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

/*footer*/
footer {
    background-color: #ffffff; /* white */
    color: #191265; /* dark blue */
    padding: 10px;
    text-align: center; 
    margin-top: auto; 
    width: 100%; 
    box-sizing: border-box;
}

footer nav a {
    color: #191265;  /* dark blue */
    text-decoration: none; 
    font-weight: bold;
    font-size: 15px;
    padding:10px;
    margin: 15px;
}

footer nav a:hover {
    color: #387780; /* teal green */
    text-decoration: none;
    font-weight: bold;
    border:1px solid #191265; /* dark blue */
}

/* header */
header {
    background-color: #E6D4e6;   /* pink */
    color: #ffffff;  /* white */
    padding: 20px;
    text-align: center;
    
}


header nav a {
    color: #191265; /* dark blue */
    text-decoration: none; 
    font-weight: bold;
    font-size: 15px;
    padding:10px;
    margin: 15px; 
   
}

header nav a:hover {
    color: #387780; /* teal green */
    text-decoration: none;
    font-weight: bold;
    border:1px solid #191265; /* dark blue */
    background-color: #ffffff; /* white */
}

/*to fix errors*/
.validation {
    border: 0;
    width: 88px;
    height: 31px;
}
