
/*
HEX CODES I PLAN TO USE for right now: (might change later on)
#191265 - dark blue
#387780; teal green
#ede9e2 - beige
#E6D4e6 - pink
#ffffff - white
#000000 - black
*/


/*Max-Width for the Page*/
main {
    max-width: 1200px; 
}

/* Adjust percentage based on design requirements */

main {
    width: 90%; 
}

main {
    margin: 0 auto; /* Centers the content horizontally */
}










/*for the whole page*/
body {
    background-color: #E6D4e6; /* light pink */
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #191265; /* dark blue */
    margin: 0;
    padding: 0;
}

/* nav */
nav {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #191265; /* dark blue */
    font-weight: bold;
}

/* links */
a {
    color: #191265; /* dark blue */
    text-decoration: none;
}

a:hover {
    color: #387780; /* teal green */
    text-decoration: underline;
}

/*paragraphs */
p {
    color: #191265; /* dark blue */
    margin: 20px 0;
    font-size: 1.2em;
}

/* img 
img {
    max-width: 20%;
    height: 20%;
    margin: 20px 0;
} */

/* heading */
h1, h2 {
    color: #191265; /* dark blue */
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}


/* footer */
footer {
    background-color: #ede9e2; /* beige */
    color: #ffffff; /* white */
    padding: 20px;
    border-top: 2px solid #387780; /* teal green */
    border-bottom: 2px solid #387780; /* teal green */
}
