
/*
HEX CODES I PLAN TO USE for right now: (might change later on)
#191265 - dark blue
#387780 teal green
#ede9e2 - beige
#E6D4e6 - pink
#ffffff - white
#000000 - black
#e0f8ff - light blue
*/


/* Activity #4 changes */
main {
    max-width: 1200px; /*  Max-Width for the Page */
    width: 90%; /* Percentage width for layout to be flexible and responsive to the screen size */
    margin: 0 auto; /* Centers the content horizontally - margins to 0, auto on same*/ 
}

/* Desktop - Default styles */
#colorbox {
    height: 200px;
    width: 200px;
    background: blue;
    margin: 50px auto;
}
/*Putting in appropriate media queries for 2-3 different sizes.*/

/* Media Query - Rule Overrides For Laptops / Small Screens */
@media screen and (min-width: 981px) and (max-width: 1400px) {
    #colorbox {
        background-color: yellow; 
    }
}

/* Media Query - Rule Overrides For Tablets */
@media screen and (min-width: 601px) and (max-width: 980px) {
    #colorbox {
        background-color: orange; 
    }
}

/* Media Query - Rule Overrides For Mobile Devices */
@media screen and (min-width: 370px) and (max-width: 600px) {
    #colorbox {
        background-color: red; 
    }
}
/* Activity #4 end changes */


html, body {
    background-color: #E6D4e6; /* light pink */
    font-family: 'Times New Roman', Times, serif;
    color: #191265; /* dark blue */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    height: 100%;
}


/* nav */
nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap; 
    background-color: #e0f8ff;
    width: 100%; 
}

/* links */
nav a {
    text-decoration: none;
    color: #191265; /* dark blue */
    font-weight: bold;
    display: block;
    padding: 10px;
    border: 1px solid transparent;
    background-color: transparent;
}


a {
    color: #191265; /* dark blue */
    text-decoration: none;
}

a:hover {
    color: #387780; /* teal green */
    text-decoration: none;
    font-weight: bold;
}

/*paragraphs */
p {
    color: #191265; /* dark blue */
    margin: 30px 0;
    font-size: 20px;
}

/* heading */
h1 {
    color: #191265; /* dark blue */
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

/*footer*/
footer {
    background-color: #ffffff; /* white */
    color: #191265; /* dark blue */
    padding: 10px;
    text-align: center; 
    margin-top: auto; 
    width: 100%; 
    box-sizing: border-box;
}

footer nav a {
    color: #191265;  /* dark blue */
    text-decoration: none; 
    font-weight: bold;
    font-size: 15px;
    padding:10px;
    margin: 15px;
   
}

footer nav a:hover {
    color: #387780; /* teal green */
    text-decoration: none;
    font-weight: bold;
    border:1px solid #191265; /* dark blue */
    background-color: #ffffff; /* white */
}

/* header */
header {
    background-color: #E6D4e6;   /* pink */
    color: #ffffff;  /* white */
    padding: 20px;
    text-align: center;
    
    
}

header nav a {
    color: #191265; /* dark blue */
    text-decoration: none; 
    font-weight: bold;
    font-size: 15px;
    margin: 15px;   
   
}

header nav a:hover {
    color: #387780; /* teal green */
    text-decoration: none;
    background-color: #ffffff; /* white */
    border-color: #191265;
}

/*to fix errors*/
.validation {
    border: 0;
    width: 88px;
    height: 31px;
}
