
<header>
    <h1>Disha Nariani || Diligent Narwhal || ITSC-3135 </h1>
        <nav>
            <a href="./">Home</a>
            <a href="introduction.html">Introductions</a>
            <a href="contract.html">Contract</a>
            <a href="./whimsicalcompany/about.html">Whimsical Company</a>
            <a href="./dishanarianidesigns.com/index.html">Design Firm</a>
            <a href="./stuff/CR&PPYWEB PAGE.htm">Crappy Page</a>
            <a href="./website_evaluations.html">Website Evaluations</a>
            <a href="./hobby/index.html">Hobby Page</a>
            <a href="./project_overview.html">Project Overview</a>
            <a href="./tables.html">HTML Tables</a>
        </nav>
    </header>
